body {
    background-color: #fff;
}

header {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.page_title {
    
}

.heading_pictures {
    display: inline-flex;
    list-style-type: none;
}

li {
    margin: 5px;
}

/*set image size*/

img {
    height: 100px;
    width: 100px;
}

/*Set the color and location of the form in the webpage*/
.input_form {
    background-color: #3651A1;
    color: #fff;
    width: 60%;
    padding: 20px 5%;
    margin: 0 auto;
}

/*Set the style of the heading at the top of the form*/
.form_header {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

/*Set the styling of the input sections*/
input[type="name"],
input[type="email"],
input[type="password"] {
    width: 35%;
    background-color: #FFFDF0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    border: solid 2px #ccc;
    border-radius: 5px;
    margin: 10px;
}

/*Set how the labels for the inputs look and space themselves out*/
label {
    padding: 0 0 0 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}


/*Set how the margin between the label and input looks */
.txt {
    margin: 10px;
}


